KAFKA_SERVER_LISTENER="localhost:9092"
KAFKA_GROUP_ID="imgfeeder-001"
KAFKA_MINIO_TOPIC="minio-topic"

MINIO_BUCKET_URL="http://localhost:9000"
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
BUCKET_FEEDER_BUCKET="rag-upload"
BUCKET_RAGGED_BUCKET="ragged-img"
MINIO_CHECK_SSL="false"
MINIO_REGION="us-east-1"

DATABASE_URL=postgres://postgres:postgres@localhost:5432
USE_LLM_SERVICE="openai"
OPENAI_API_KEY=
OLLAMA_URL=http://192.168.178.34:11434/api/generate
