MINIO_ROOT_USER=bucket-root
MINIO_ROOT_PASSWORD=changeme_secret
MINIO_NOTIFY_KAFKA_TOPIC="minio-topic"
MINIO_NOTIFY_KAFKA_COMMENT="That's just a comment in env variable"
X_MINIO_DOCKER_SERVICE=minio-server
X_MINIO_PORT=9000
MINIO_NOTIFY_KAFKA_ENABLE_PRIMARY="on"
MINIO_NOTIFY_KAFKA_BROKERS_PRIMARY="kafka:29092"
MINIO_NOTIFY_KAFKA_TOPIC_PRIMARY="minio-topic"
MINIO_NOTIFY_KAFKA_QUEUE_LIMIT_PRIMARY="0"
MINIO_NOTIFY_KAFKA_VERSION_PRIMARY="7.7.5"
MINIO_NOTIFY_KAFKA_COMMENT_PRIMARY="This a comment on the kafka topics"
